<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="Content-Security-Policy"
	content="default-src * gap: ws: https://ssl.gstatic.com;style-src * 'unsafe-inline' 'self' data: blob:;script-src * 'unsafe-inline' 'unsafe-eval' data: blob:;img-src * data: 'unsafe-inline' 'self'">
	<meta name="format-detection" content="telephone=no">
	<meta name="msapplication-tap-highlight" content="no">
	<meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
	<title>{% block title %}PHP Course Big Exercise - Abdo{% endblock %}</title>
	{% block stylesheets %}
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="{{ asset('assets/css/map.css') }}">
	{% endblock %}
	<script>
	var allCoords = [];
	{% if allCoords is defined %}{% for AddrEntity in allCoords %}
	allCoords.push({address: "{{ AddrEntity.address }}",lat: {{ AddrEntity.latitude }},lng: {{ AddrEntity.longitude }},changeIcon: "{{ AddrEntity.changeIcon }}",changeColor: "{{ AddrEntity.changeColor }}"});
	{% endfor %}{% endif %}
	</script>
</head>
<body>
</body>
{% block body %}{% endblock %}
<script src="https://www.gstatic.com/firebasejs/4.10.0/firebase.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDEJApn1weBvRmXgpTTvhkpbPrfUiXPkM8&callback=showMap&libraries=geometry" async defer></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="{{ asset('assets/js/map.js') }}"></script>
{% block javascripts %}{% endblock %}
</html>
